@{
    ViewData["Title"] = "Priofile Page";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Proflie Page</h1>
    <p>To be continue</p>
</div>
